@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
}

.wrapper {
  background-image: url('https://images.pexels.com/photos/3780132/pexels-photo-3780132.jpeg');
  background-size: cover;
}

.text-clip {
  width: 350px;
  margin: 0 auto;
  height: 100vh;
  background: url('https://images.pexels.com/photos/1179229/pexels-photo-1179229.jpeg');
  background-position: center;
  background-size: cover;
  transition: 0.2s;
  font-size: 140px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
}

button {
  position: fixed;
  top: 20px;
  left: 20px;
  padding: 10px;
}